<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <!-- Quyền internet để load Google Maps -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="myapp">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAskI9U1dC6vozZt_oFBcgj1qxlgIC5ulE"/>

    </application>

</manifest>
